.idea/
.DS_Store
.history/
/node_modules/*
!/node_modules/data-marauder/

/static/release/
/static/excel/
/excel/

/.babelrc
/package_bak.json
/package-lock.json

/test.json
/npm-debug.log

/webpack.txt
/cache/
/success/
/logger/
/testimg/
/analysis/
