//body{
//  padding: 30px;
//}
//.bc-demo{
//  .bc-button{
//    margin: 8px 10px;
//    display: block;
//  }
//
//  h1{
//    font-size: 20px;
//  }
//}

.bc-demo{
  padding: 30px;

  h1{
    font-size: 28px;
    margin: 30px 0 10px 0;
  }

  h2{
    font-size: 20px;
    margin: 30px 0 10px 0;
  }

  .bc-button{
    margin: 8px 10px;
    display: block;
  }

  .block{
    display: inline-block;
    width: 50%;
  }
}